@import '../../style/mixins.scss';
@import '../../style/variables.scss';

.wrapper {
  @include wrapper;
  font-family: 'Roboto';
  color: #262626;
}

.error {
  @include error;
}

.title {
  @include form-title;
}

.tag_container {
  display: flex;
  flex-wrap: wrap;
}

.tag_wrapper {
  width: 100%;
  margin-bottom: 4px;
}

.error {
  color: $highlight-color;
}

textarea {
  min-height: 168px;
}
