$background-color-base: #fff;
$heading-color: rgba(0, 0, 0, 0.85);
$text-color: rgba(0, 0, 0, 0.75);
$text-color-secondary: rgba(0, 0, 0, 0.5);
$success-color: #52c41a;
$info-color: #1890ff;
$highlight-color: #f5222d;
$primary-color: #1890ff;

$font-size-sm: 12px;
$font-size-base: 14px;
